/* START OF TYPE SELECTORS */
body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}
/* END OF TYPE SELECTORS */





/* START OF CLASSES */
.header {
    height: 600px;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px 0px;
}

.header .left {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 400px;
}

.header .left .header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header .left .bottom-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.header .left .bottom-part .main-text {
    font-size: 48px;
    font-weight: 900; 
}

.header .left .bottom-part .secondary-text {
    color: white;
    font-size: 18px;
}

.header .left .bottom-part .button-container .sign-up-button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 900;
}

.header .right {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 600px;
}

.header .right .header-link-container {
    display: flex;
    justify-content: right;
}

.header .right .bottom-part {
    height: 400px;
}

.header .right .bottom-part .cat-image {
    height: 100%;
    width: 100%;
}


/* END OF CLASSES */